body {
	background: url(rouleau.jpg);
	font-family: 'Roboto', sans-serif;
	background-size: cover;
}
.tete{
	margin-left: 350px;
	font-size: 100px;
	color: yellow;
	font-family: time new roman;
}
.form-group{
	margin-left: 900px;
	margin-right: 125px;
	margin-top: 120px;
	margin-bottom: 25px;
	padding: 0;
	padding: 0 18px;
	border-radius: 10px;
	background-color: rgba(17, 3, 0, 0.5);
	font-family: time new roman;
	border: 2px solid;
  	border-radius: 20px;
  	border-color: rgba(17, 3, 5, 0.9);
}
.name{
	color: white;
}
.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0px;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 54px;
}
.form-group ::before {
	font-family: 'Font Awesome\ 5 Free;';
	content: "\f1fa";
	position:absolute;font-size: 22px;
	left: 28px;
}
.form-group button{
	width: 40%;
	margin: 5px 0 25px;
}
.inscription{
	margin-left: 1120px;
	margin-top: -100px;
}
.btn-success{
	background-color: #1c6288;
	font-size: 19px;
	border-radius: 5px;
	padding: 7px 14px;
	border: 1px solid #daf1ff;
}
.btn-success:hover{
	background-color: #13445e;
	border: 1px solid #daf1ff;
}
.oublie{
	padding: 5px 0 25px;
}
.oublie a {
	color: #daf1ff;
}
.section{
	background-color: light;
	font-family: time new roman;
	margin-top: -300px;
	margin-right: 500px;
}
.mb-0{
	color: black;
	position: relative;
}
.cta {
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: lightgrey;
  margin-left: 150px;
  border: 1px solid;
  border-radius: 15px;
}
.cta-inner {
    position: relative;
    padding: 3px;
    margin: 0.5px;
    background-color: fade-out($yellow, 0.15);
}
.mb-4{
	color: black;
}
.m-0{
	color: white;
}
.footer{
		margin-top: 300px;
		margin-right: -850px;
		background-color: fade-out($secondary, 0.1);
}