body{
	background: url(jeux-en-ligne.jpg);
	background-size: cover;
}
.dash-segment:nth-child(1)
{
	position: relative !important;
	width: 200px !important;
	left: -60px;
	-webkit-transition: left 0.5s ease-out;
	-moz-transition: left 0.5s ease-out;
	-o-transition: left 0.5s ease-out;
}

.dash-segment:nth-child(3),
.dash-segment:nth-child(4)
{
	position: relative !important;
	left: -400px;
	-webkit-transition: left 0.5s ease-out;
	-moz-transition: left 0.5s ease-out;
	-o-transition: left 0.5s ease-out;
}
.dash-segment:nth-child(1):hover,
.dash-segment:nth-child(2):hover,
.dash-segment:nth-child(3):hover,
.dash-segment:nth-child(4):hover
{
	position: relative !important;
	left: 120px;
	-webkit-transition: left 0.5s ease-out;
	-moz-transition: left 0.5s ease-out;
	-o-transition: left 0.5s ease-out;
}

.segment-content {
	width:600px;
	font-size: 0.9em;
	color: white !important;
	padding: 3px 10px !important;
	margin: 2px;
	background-color: rgba(150,150,150,0.8);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.segment-content h2 {
	position: relative !important;
	left: 500px;
	color: #DDD !important;
	background: none !important;
	font-size: 1.3em !important;
	font-weight: bold;
	text-shadow: 0px 0px 5px black;
}
.dash-help {
	height: 55px;
	-webkit-transition: height 0.5s ease-out 0.5s;
	-moz-transition: height 0.5s ease-out 0.5s;
	-o-transition: height 0.5s ease-out 0.5s;
	overflow: hidden !important;
}
.dash-help:hover {
	height: 600px !important;
	-webkit-transition: height 0.5s ease-out 0.5s;
	-moz-transition: height 0.5s ease-out 0.5s;
	-o-transition: height 0.5s ease-out 0.5s;
}

.game{
	border-collapse:collapse;
	width:400px;
	height:500px;
	position:relative;
	top:25px;
	left:800px;
	text-align:center;
	border-color:#999;
	}

tr, td {
	text-align:center;
	font-family:Arial;
	text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}
.jeu{
 	float:left;
 	height: 50px;
	border-radius: 5px;
	border: 0px;
	font-size: 15px;
	letter-spacing: 2px;
	padding-left: 54px;
	margin-right: 350px;
	margin-top: -25px;
	background-color:
}
.jeu::before {
	font-family: 'Font Awesome\ 5 Free;';
	content: "\f1fa"
	position:absolute;font-size: 22px;
	left: 28px;
}
.jeu button{
	width: 40%;
	margin: 5px 0 25px;
	background-color: red;
}
.menu{
	float: left;
	margin-left: 550px;
	margin-top: -350px;
}
.tete{
	background-color: #0d0d0d;
	color: lightyellow;
	font-family: time new roman;
	padding-top: 1px;
  	padding-bottom: 7px;
  	padding-left: 15px;
 	padding-right: 15px;
 	position: relative;
}
.trait{
	background-color: lightyellow;
	position: relative;
	padding-top: 2px;
  	padding-bottom: 2px;
  	padding-left: 1px;
 	padding-right: 1px;
}
.title{
	margin-left: 350px;
	font-size: 50px;
}
.roulette{
	margin-left: 150px;
	margin-top: 30px;
}
.pari{
	color: lightyellow;
}
.select{
	float: right;
	margin-right: 150px;
	margin-top: -470px; 
	background-color: rgba(17, 3, 0, 0.5);
	font-family: time new roman;
	position: relative;
	padding-top: 5px;
  	padding-bottom: 10px;
  	padding-left: 10px;
 	padding-right: 80px;
 	border: 2px solid;
  	border-radius: 20px;
  	border-color: rgba(17, 3, 5, 0.9);
  	font-size: 18px;
	letter-spacing: 2px;
}
.jouer{
	float: right;
	margin-right: 150px;
	margin-top: -320;
	background-color: rgba(17, 3, 5, 0.9);
	font-family: time new roman;
	position: relative;
	padding-top: 10px;
  	padding-bottom: 20px;
  	padding-left: 10px;
 	padding-right: 10px;
 	border: 2px solid;
  	border-radius: 20px;
  	border-color: rgba(17, 3, 5, 0.9);
  	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'Font Awesome\ 5 Free;';
	content: "\f1fa";
}
.footer{
	position: relative;
}
.texte{
	position: relative;
	color: lightyellow;
	background-color: rgba(17, 3, 5, 0.9);
	float: center;
	margin-bottom: -10px;
}
.copyright{
	position: relative;
	margin-left: 500px;
}
.vpm{
	color: white;
}
.ordi{
	color: white;
}